<div
  class="flex flex-col space-y-1 md:space-y-10 md:space-y-0 md:p-4 md:mt-8 whitespace-nowrap"
>
  <div
    class="bg-blue-500 pb-12 md:pb-0 w-full min-h-[30vh] md:h-[45vh] md:rounded relative md:shadow-xl mx-1 md:mx-0 overflow-y-auto overflow-x-auto"
  >
    <p
      class="text-xl lg:text-2xl py-4 text-center md:text-left md:px-6 text-white font-bold"
      style="font-family: work sans"
    >
      Debit history
    </p>
    {/ if (debits.length) { /}
    <table class="mt-2 w-full">
      <tr
        class="font-bold text-white text-center"
        style="font-family: work sans"
      >
        <th class="pb-3">Reference</th>
        <th>Sender</th>
        <th>Amount</th>
        <th>Account Number</th>

        <th>Date</th>
        <th>Description</th>
        <th>Status</th>
      </tr>

      {/ debits.map((d)=>{ /}

      <tr
        style="font-family: raleway"
        class="text-white py-4 md:py-2 text-center even:bg-blue-400 hover:bg-blue-300 cursor-pointer w-full"
      >
        <td class="px-4 py-4">{/= d.ref /}</td>
        <td class="px-4">{/= d.issuer.email /}</td>

        <td class="px-4">${/= numeral(d.amount) /}</td>
        <td class="px-4">{/= d.destination.accountNumber /}</td>

        <td class="px-4">{/= d.timestamp.toLocaleString() /}</td>
        <td class="px-4">{/= d.description /}</td>
        <td class="px-8 font-bold">
          {/ if (d.approved){ /} Approved {/ } else { /} Pending {/ } /}
        </td>
      </tr>

      {/ }) /}
    </table>
    {/ } else { /}

    <p
      class="text-2xl text-center p-6 pt-12 text-white self-center"
      style="font-family: raleway"
    >
      <i class="bi-exclamation-diamond text-xl"></i> &nbsp;No debit history is
      available
    </p>

    {/ } /}
  </div>

  <div
    class="bg-blue-500 pb-12 md:pb-0 w-full min-h-[30vh] md:h-[45vh] md:rounded relative md:shadow-xl mx-1 md:mx-0 overflow-y-auto overflow-x-auto"
  >
    <p
      class="text-xl lg:text-2xl py-4 text-center md:text-left md:px-6 text-white font-bold"
      style="font-family: work sans"
    >
      Credit history
    </p>
    {/ if (credits.length) { /}
    <table class="mt-2 w-full">
      <tr
        class="font-bold text-white text-center"
        style="font-family: work sans"
      >
        <th class="pb-3">Reference</th>
        <th>Recipient</th>
        <th>Amount</th>
        <th>Date</th>
        <th>Description</th>
      </tr>
      {/ credits.map((d)=>{ /}

      <tr
        style="font-family: raleway"
        class="text-white py-4 md:py-2 text-center even:bg-blue-400 hover:bg-blue-300 cursor-pointer w-full"
      >
        <td class="px-4 py-4">{/= d.ref /}</td>
        <td class="px-4">{/= d.destination.email /}</td>

        <td class="px-4">${/= numeral(d.amount) /}</td>
        <td class="px-4">{/= d.timestamp.toLocaleString() /}</td>
        <td class="px-4">{/= d.description /}</td>
      </tr>

      {/ }) /}
    </table>
    {/ } else { /}

    <p
      class="text-2xl text-center p-6 pt-12 text-white self-center"
      style="font-family: raleway"
    >
      <i class="bi-exclamation-diamond text-xl"></i> &nbsp;No credit history is
      available
    </p>

    {/ } /}
  </div>
</div>
